@page "/index"

<link href="css/index.css" rel="stylesheet" />

<PageTitle>Reservación de Vehículos</PageTitle>

<div class="container-content">
    <h1>Bienvenido al Sistema de Reservación</h1>
    <p>Gestión y control de reservas de vehículos de forma eficiente.</p>
</div>
